/** header */

.header .header__container {
	position: relative;
	padding-block: 0.75rem;
}

.header .header__container .header__toggle:hover svg path {
	fill: var(--red-400);
}

.header .header__container .header__nav {
	display: none;
}

.header .header__container .header__nav .links {
	gap: 1.625rem;
}

.header .header__container .header__nav .links .links__item > a {
	position: relative;
	font-size: 0.813rem;
	z-index: 1;
}

.header .header__container .header__nav .links .links__item > a,
.mobile-nav__link,
.sub-menu__link {
	letter-spacing: -0.0095em;
}

.title {
	letter-spacing: -0.0042em;
}
.title--secondary,
.heading {
	letter-spacing: -0.015em;
}
.text {
	letter-spacing: -0.025em;
}

/* dropdown menu */

.header .header__container .header__nav .links .links__item.menu {
	position: relative;
}

.header
	.header__container
	.header__nav
	.links
	.links__item.menu
	.menu__container {
	position: absolute;
	top: 0;
	left: -0.625rem;
	width: 6rem;
	z-index: 99999;
}

.header
	.header__container
	.header__nav
	.links
	.links__item.menu
	.menu__container
	.links__dropdown {
	position: relative;
	top: 2.6rem;
	min-width: 13rem;
	padding-left: 0.75rem;
	padding-block: 0.875rem;
	border-top: 0.125rem solid var(--yellow-400);
	display: none;
}

.header
	.header__container
	.header__nav
	.links
	.links__item.menu
	.menu__container
	.links__dropdown
	ul {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.header
	.header__container
	.header__nav
	.links
	.links__item.menu:hover
	.menu__container
	.links__dropdown,
.header
	.header__container
	.header__nav
	.links
	.links__item.menu
	a[aria-expanded='true']
	+ .menu__container
	.links__dropdown {
	display: flex;
}

.header .header__container .header__nav .links .links__item a {
	display: flex;
}

.header .header__container .header__nav .links .links__item a {
	align-items: center;
	gap: 0.375rem;
}

.header .header__container .header__nav .links .links__item.menu .menu__link {
	font-size: 1rem;
}

.header
	.header__container
	.header__nav
	.links
	.links__item.menu:hover
	.dropdown-arrow
	svg {
	transform: rotateX(180deg);
}

.header .header__container .header__nav .links .links__item:hover > a,
.header
	.header__container
	.header__nav
	.links
	.links__item.menu
	.menu__container
	.links__dropdown
	ul
	li:hover
	> a {
	color: var(--yellow-400);
}

/* mobile nav */

.header .header__container .header__mobile-nav {
	position: absolute;
	top: 4rem;
	left: 0;
	width: 100%;
}

.header
	.header__container
	.header__toggle[aria-expanded='false']
	+ .header__mobile-nav {
	display: none;
}

.header
	.header__container
	.header__toggle[aria-expanded='true']
	+ .header__mobile-nav {
	display: flex;
}

.header .header__container .header__mobile-nav .mobile-nav__container {
	width: 100%;
	padding-inline: 1.563rem;
	padding-block: 1.25rem;
	border-top: 0.125rem solid var(--yellow-400);
}

.header .header__container .header__mobile-nav .mobile-nav__container > ul {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	font-size: 1rem;
}

.header .header__container .header__mobile-nav li {
	line-height: 1.25rem;
}

.header .header__container .header__mobile-nav li a:hover {
	color: var(--yellow-400);
}

.header .header__container .header__mobile-nav .mobile-nav__link.sub-menu {
	display: flex;
	align-items: center;
	gap: 0.375rem;
}

.header
	.header__container
	.header__mobile-nav
	.mobile-nav__link.sub-menu
	+ .sub-menu__container
	ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-size: 0.875rem;
	margin-block-start: 1rem;
	padding-inline-start: 2rem;
}

.header
	.header__container
	.header__mobile-nav
	.mobile-nav__link.sub-menu
	+ .sub-menu__container
	ul
	li {
	line-height: 1rem;
}

/** SECTION: hero */

.hero {
	border-bottom: 1rem solid var(--dark-gray-400);
}

.hero .hero__img-container .hero__img {
	height: auto;
	max-height: 13.438rem;
	background-color: gray;
}

.hero .hero__img-container .hero__img img {
	min-width: 100%;
	object-fit: cover;
	aspect-ratio: 16/9;
}

.hero .hero__img-container .hero__presentational {
	display: none;
	z-index: 99999;
}

.hero .hero__content {
	padding-block-start: 2rem;
	padding-block-end: 1.75rem;
}

.hero .hero__content .title {
	font-size: 3.8rem;
	line-height: 3.813rem;
}

.hero .hero__content .title--secondary {
	font-size: 2.25rem;
	line-height: 2rem;
}

.hero .hero__content .text {
	max-width: 27rem;
	font-size: 1.3rem;
	line-height: 1.75rem;
	margin-inline: auto;
	margin-block-start: 0.5rem;
	margin-block-end: 2.5rem;
}

/** SECTION: about */

.about {
	padding-block: 6.25rem;
}

.about .about__img {
	min-height: 25rem;
}

.about .about__img img {
	width: 100%;
}

.about .about__content {
	margin-block-start: 2.625rem;
	max-width: 32rem;
}

.about .about__content .title {
	font-size: 2.938rem;
	line-height: 3rem;
}

.about .about__content .title--secondary {
	font-size: 1.75rem;
}

.about .about__content .separator {
	width: 9.25rem;
	height: 0.25rem;
	border: none;
	margin-block: 1.75rem;
}

.about .about__content .text {
	font-size: 1.125rem;
	line-height: 1.375rem;
	margin-block-end: 3.5rem;
}

/** SECTION: services */

.services {
	display: flex;
	flex-direction: column;
	width: 100%;
	transform: translate3d(0, 0, 0);
}

.services .services__item {
	flex: 1;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	overflow: hidden;
	z-index: 1;
	transition: flex-grow 0.2s, opacity 0.2s;
}

.services .services__item:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	transition: transform 0.2s, width 0.2s;
}

.services .services__item:nth-child(1):before {
	background-image: url(../images/services/complete-detail.webp);
}
.services .services__item:nth-child(2):before {
	background-image: url(../images/services/interior-detail.webp);
}
.services .services__item:nth-child(3):before {
	background-image: url(../images/services/exterior-detail.webp);
}
.services .services__item:nth-child(4):before {
	background-image: url(../images/services/buffing-and-paint-enhancement.webp);
}
.services .services__item:nth-child(5):before {
	background-image: url(../images/services/ceramic-coating.webp);
}

.services .services__item:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.8;
	transition: opacity 0.2s;
}

.services .services__item article {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 1.5rem;
	text-align: center;
	color: var(--white-400);
	z-index: 1;
	transition: opacity 0.2s, transform 0.2s;
}

.services .services__item .container {
	padding-inline: 1rem;
	padding-block: 15%;
}

.services .services__item .title {
	font-size: 1.75rem;
	margin-block-end: 0.375rem;
	line-height: 1.25;
}

.services .services__item .text {
	max-width: 90%;
	font-size: 1rem;
	margin-inline: auto;
}

/** SECTION: testimonials */

.testimonials {
	padding-block-start: 3.625rem;
	padding-block-end: 1.563rem;
}

.testimonials .testimonials__heading {
	font-size: 2.375rem;
	line-height: 3rem;
	margin-bottom: 7.188rem;
}

.testimonials .testimonials__container {
	flex-direction: column;
	gap: 6rem;
}

.testimonials .testimonials__container .testimonials__item {
	position: relative;
}

.testimonials .testimonials__container .testimonials__item .avatar {
	--avatar-size: 5.25rem;
	position: absolute;
	top: calc(var(--avatar-size) / -2);
	width: var(--avatar-size);
	height: var(--avatar-size);
	background-color: var(--yellow-400);
}

.testimonials .testimonials__container .testimonials__item .avatar img {
	object-fit: cover;
}

.testimonials .testimonials__container .testimonials__item .content {
	padding-block-start: 3.75rem;
	padding-block-end: 3.25rem;
	padding-inline: 2rem;
}

.testimonials
	.testimonials__container
	.testimonials__item
	.content
	.content__name {
	font-size: 1.5rem;
	line-height: 1.813rem;
}

.testimonials
	.testimonials__container
	.testimonials__item
	.content
	.content__quote {
	font-size: 1.125rem;
	line-height: 1.375rem;
	margin-top: 1.625rem;
}

/** SECTION: contact */

.contact .contact__content {
	margin-block-start: 3.125rem;
	margin-block-end: 2.875rem;
}

.contact .contact__content .heading {
	max-width: 26rem;
	font-size: 2.375rem;
	line-height: 3rem;
	margin-inline: auto;
}

.contact .contact__content .text {
	font-size: 1.125rem;
	line-height: 1.375rem;
	margin-block: 2rem;
}

.contact .contact__content .contact__info .list {
	flex-direction: column;
	gap: 1.375rem;
	font-size: 1.125rem;
}

.contact .contact__content .contact__info .list li {
	gap: 0.5rem;
	line-height: 1.375rem;
}

/* contact form */

.contact .contact__container {
	position: relative;
}

.contact .contact__container img {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.05;
	z-index: 0;
}

.contact .contact__container .contact__form {
	position: relative;
	width: 100%;
	flex-direction: column;
	align-items: end;
	padding-block: 1.625rem;
}

.contact .contact__container .contact__form,
.contact .contact__container .contact__form > div {
	gap: 1.75rem;
}

.contact .contact__container .contact__form > div {
	width: 100%;
}

.contact .contact__container .contact__form *:not(img) {
	z-index: 1;
}

.contact .contact__container .contact__form input,
.contact .contact__container .contact__form textarea {
	width: 100%;
	font-size: 1.125rem;
	line-height: 1.375rem;
	padding: 1rem;
	border: none;
}

.contact .contact__container .contact__form input:not(:focus-within) {
	border-color: var(--white-400);
}

.contact .contact__container .contact__form input::placeholder,
.contact .contact__container .contact__form textarea::placeholder {
	text-transform: uppercase;
}

.contact .contact__container .contact__form button[type='submit'] {
	width: max-content;
	margin-block-start: 1.75rem;
}

/** sub-footer */

.sub-footer {
	flex-direction: column;
	align-items: center;
	gap: 1.625rem;
	padding-block: 1.125rem;
	border-top: 1rem solid var(--red-400);
}

.sub-footer .social-icons {
	gap: 0.9rem;
}

.sub-footer .social-icons span {
	justify-content: center;
	align-items: center;
	width: 1.875rem;
	height: 1.75rem;
	padding: 0.28rem;
}

.sub-footer .social-icons a:hover span,
.sub-footer .social-icons a:focus span,
.sub-footer .social-icons button#scroll-to-top:hover,
.sub-footer .social-icons button#scroll-to-top:focus {
	-ms-transform: skewX(15deg); /* IE 9 */
	-webkit-transform: skewX(15deg); /* Safari */
	transform: skewX(15deg);
}

.sub-footer .social-icons a:hover span svg,
.sub-footer .social-icons a:focus span svg,
.sub-footer .social-icons button#scroll-to-top:hover span svg,
.sub-footer .social-icons button#scroll-to-top:focus span svg {
	-ms-transform: skewX(-15deg); /* IE 9 */
	-webkit-transform: skewX(-15deg); /* Safari */
	transform: skewX(-15deg);
}

.sub-footer .social-icons a:hover span[aria-hidden='true'],
.sub-footer .social-icons a:focus span[aria-hidden='true'] {
	background-color: var(--yellow-400);
}

.sub-footer .social-icons a:hover span[aria-hidden='true'] svg path,
.sub-footer .social-icons a:focus span[aria-hidden='true'] svg path {
	fill: var(--dark-gray-400);
}

.sub-footer .social-icons button#scroll-to-top:hover,
.sub-footer .social-icons button#scroll-to-top:focus {
	background-color: var(--white-400);
}

.sub-footer
	.social-icons
	button#scroll-to-top:hover
	span[aria-hidden='true']
	svg
	path,
.sub-footer
	.social-icons
	button#scroll-to-top:focus
	span[aria-hidden='true']
	svg
	path {
	fill: var(--red-400);
}

.sub-footer .copyright {
	font-size: 0.75rem;
	line-height: 0.938rem;
	margin-block-start: 1.25rem;
}

@media screen and (max-width: 375px) {
	/** SECTION - hero--xs */

	.hero .hero__content .title {
		font-size: 3.2rem;
	}
	.hero .hero__content .title--secondary {
		font-size: 2rem;
		line-height: 1.75rem;
	}

	/** SECTION - about--xs */

	.about .about__content .title {
		font-size: 2.465rem;
	}
	.about .about__content .title--secondary {
		font-size: 1.595rem;
	}
}

@media screen and (min-width: 640px) {
	/** header--sm */

	.header .header__container {
		justify-content: space-between;
		align-items: center;
		gap: 1.25rem;
	}

	.header .header__container .header__toggle {
		display: none;
	}

	.header .header__container .header__nav {
		display: unset;
	}

	.header
		.header__container
		.header__toggle[aria-expanded='true']
		+ .header__mobile-nav {
		display: none;
	}

	/** SECTION - about--sm */

	.about .about__content {
		max-width: 42rem;
	}

	.about .about__content .title {
		font-size: 3.938rem;
		line-height: 4rem;
	}

	.about .about__content .title--secondary {
		font-size: 2.75rem;
	}

	.about .about__content .text {
		font-size: 1.25rem;
		line-height: 1.6rem;
	}

	/** SECTION - testimonials--sm */

	.testimonials {
		padding-block-start: 5rem;
		padding-block-end: 8.438rem;
	}

	.testimonials .testimonials__heading {
		font-size: 4rem;
		line-height: 5rem;
		margin-bottom: 5rem;
	}

	.testimonials .testimonials__container {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		row-gap: 3rem;
		padding-inline: 2.5rem;
	}

	.testimonials .testimonials__container .testimonials__item {
		height: fit-content;
		-ms-transform: skewX(-15deg); /* IE 9 */
		-webkit-transform: skewX(-15deg); /* Safari */
		transform: skewX(-15deg);
	}

	.testimonials .testimonials__container .testimonials__item:nth-of-type(1) {
		grid-column: 1 / -1;
	}
	.testimonials .testimonials__container .testimonials__item:nth-of-type(2),
	.testimonials .testimonials__container .testimonials__item:nth-of-type(4) {
		grid-column: -1 / 1;
		-ms-transform: skewX(15deg); /* IE 9 */
		-webkit-transform: skewX(15deg); /* Safari */
		transform: skewX(15deg);
	}

	.testimonials
		.testimonials__container
		.testimonials__item:nth-of-type(2)
		> div,
	.testimonials
		.testimonials__container
		.testimonials__item:nth-of-type(4)
		> div {
		-ms-transform: skewX(-15deg); /* IE 9 */
		-webkit-transform: skewX(-15deg); /* Safari */
		transform: skewX(-15deg);
	}

	.testimonials
		.testimonials__container
		.testimonials__item:nth-of-type(2)
		.content,
	.testimonials
		.testimonials__container
		.testimonials__item:nth-of-type(4)
		.content {
		text-align: right;
		padding-inline-start: 1.5rem;
		padding-inline-end: 3.25rem;
	}

	.testimonials
		.testimonials__container
		.testimonials__item:nth-of-type(2)
		.avatar,
	.testimonials
		.testimonials__container
		.testimonials__item:nth-of-type(4)
		.avatar {
		left: unset;
		right: calc(var(--avatar-size) / -2);
	}

	.testimonials .testimonials__container .testimonials__item:nth-of-type(3) {
		grid-column: 1 / -1;
	}

	.testimonials .testimonials__container .testimonials__item > div {
		text-align: left;
		-ms-transform: skewX(15deg); /* IE 9 */
		-webkit-transform: skewX(15deg); /* Safari */
		transform: skewX(15deg);
	}

	.testimonials .testimonials__container .testimonials__item .avatar {
		position: absolute;
		top: 2rem;
		left: calc(var(--avatar-size) / -2);
	}

	.testimonials .testimonials__container .testimonials__item .content {
		padding-inline-start: 3.25rem;
		padding-inline-end: 1.5rem;
		padding-block-start: 2rem;
		padding-block-end: 2.25rem;
	}

	.testimonials
		.testimonials__container
		.testimonials__item
		.content
		.content__quote {
		margin-top: 1.125rem;
	}

	/** SECTION - contact--sm */

	.contact .contact__content .heading {
		max-width: 34rem;
		font-size: 3.5rem;
		line-height: 4rem;
	}

	.contact .contact__content .text {
		font-size: 1.25rem;
		line-height: 1.6rem;
		margin-block: 3rem;
	}

	.contact .contact__content .contact__info .list {
		font-size: 1.25rem;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		gap: 2rem;
	}

	/* contact form--sm */

	.contact .contact__container .contact__form {
		padding-block: 3.625rem;
	}

	.contact .contact__container .contact__form,
	.contact .contact__container .contact__form > div {
		gap: 2rem;
	}

	.contact .contact__container .contact__form input,
	.contact .contact__container .contact__form textarea {
		font-size: 1.25rem;
		line-height: 2.375rem;
	}

	/** sub-footer--sm */

	.sub-footer {
		flex-direction: row;
		justify-content: space-between;
		gap: 1rem;
		padding-block: 2rem;
	}

	.sub-footer .sub-footer__bottom {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	.sub-footer .sub-footer__bottom .copyright {
		margin-block-start: 0;
	}
}

@media screen and (min-width: 768px) {
	/** header--md */

	.header .header__container {
		justify-content: start;
	}

	/** SECTION - hero--md */

	.hero {
		display: flex;
	}

	.hero .hero__img-container {
		flex: 6;
		display: flex;
		overflow: clip;
		margin-left: -13%;
	}

	.hero .hero__img-container .hero__img {
		flex: 1;
		height: auto;
		max-height: unset;
	}

	.hero .hero__img-container .hero__img img {
		min-width: 116%;
	}

	.hero .hero__img-container .hero__presentational {
		display: flex;
	}

	.hero .hero__img-container .hero__presentational > div {
		width: 1rem;
	}

	.hero .hero__img-container .hero__presentational > div:not(:last-child) {
		margin-inline-end: -0.063rem;
	}

	.hero .hero__content {
		flex-basis: 36%;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		text-align: right;
		padding-inline-start: 1rem;
		padding-block-end: 3.75rem;
		padding-block-start: 4rem;
	}

	.hero .hero__content .title {
		font-size: 5rem;
		line-height: 4.75rem;
	}

	.hero .hero__content .title--secondary {
		font-size: 2.4rem;
		line-height: 2.5rem;
	}

	.hero .hero__content .text {
		max-width: 95%;
		font-size: 1.45rem;
		line-height: 1.75rem;
		margin-inline: unset;
	}

	/** SECTION - about--md */

	.about .about__img img {
		width: 32.813rem;
	}

	/** SECTION - testimonials--md */

	.testimonials .testimonials__container .testimonials__item:nth-of-type(1),
	.testimonials .testimonials__container .testimonials__item:nth-of-type(3) {
		grid-column: 1 / span 5;
	}
	.testimonials .testimonials__container .testimonials__item:nth-of-type(2),
	.testimonials .testimonials__container .testimonials__item:nth-of-type(4) {
		grid-column: span 5 / -1;
	}
}

@media screen and (min-width: 1024px) {
	/** SECTION - hero--lg */

	.hero .hero__img-container {
		flex: 2.25;
		-ms-transform: skewX(-15deg); /* IE 9 */
		-webkit-transform: skewX(-15deg); /* Safari */
		transform: skewX(-15deg);
	}

	.hero .hero__img-container .hero__img {
		-ms-transform: skewX(15deg); /* IE 9 */
		-webkit-transform: skewX(15deg); /* Safari */
		transform: skewX(15deg);
	}

	.hero .hero__content {
		flex-basis: 25%;
	}

	.hero .hero__content .text {
		max-width: 90%;
	}

	/** SECTION - about--lg */

	.about {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		padding-block: 8.25rem;
	}

	.about .about__img {
		flex: 1;
	}

	.about .about__img img {
		width: 100%;
	}

	.about .about__content {
		flex: 1;
		max-width: unset;
		margin-block-start: 0;
	}

	.about .about__content .title {
		font-size: 4rem;
		line-height: 4.25rem;
	}

	.about .about__content .title--secondary {
		font-size: 2.36rem;
		line-height: 1rem;
	}

	.about .about__content .text {
		font-size: 1.45rem;
		line-height: 1.75rem;
	}

	/** SECTION - services--lg */

	.services {
		flex-direction: row;
		width: 130%;
		margin-left: -15%;
	}

	.services .services__item {
		height: 42.313rem;
		margin-right: -1px;
		transform: skewX(15deg) translateZ(0);
	}

	.services .services__item:before {
		left: -100%;
		width: 256%;
		transform: skewX(-15deg);
	}

	.services .services__item:hover {
		flex: 2;
	}

	.services .services__item article {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		margin: auto;
		opacity: 0;
		transform: translateY(24px) skewX(-15deg);
	}

	.services .services__item:not(:first-child):not(:last-child) article {
		align-items: center;
	}

	.services .services__item:first-child article {
		align-items: flex-end;
	}

	.services .services__item:last-child article {
		align-items: flex-start;
	}

	.services .services__item:hover article {
		opacity: 1;
		transform: translateY(0) skewX(-15deg);
		transition: opacity 0.2s 0.2s, transform 0.2s 0.2s;
	}

	.services .services__item .container {
		padding-inline: 1rem;
		padding-block: 1.5rem;
		-ms-transform: skewX(15deg); /* IE 9 */
		-webkit-transform: skewX(15deg); /* Safari */
		transform: skewX(15deg);
	}

	.services .services__item .container > * {
		-ms-transform: skewX(-15deg); /* IE 9 */
		-webkit-transform: skewX(-15deg); /* Safari */
		transform: skewX(-15deg);
	}

	.services .services__item:first-child article .container {
		text-align: right;
		padding-inline-start: 35%;
	}

	.services .services__item:last-child article .container {
		text-align: left;
		padding-inline-end: 35%;
	}

	/** SECTION - testimonials--lg */

	.testimonials .testimonials__container {
		column-gap: 8rem;
	}

	.testimonials .testimonials__container .testimonials__item:nth-of-type(2),
	.testimonials .testimonials__container .testimonials__item:nth-of-type(4) {
		-ms-transform: skewX(-15deg); /* IE 9 */
		-webkit-transform: skewX(-15deg); /* Safari */
		transform: skewX(-15deg);
	}

	.testimonials
		.testimonials__container
		.testimonials__item:nth-of-type(2)
		> div,
	.testimonials
		.testimonials__container
		.testimonials__item:nth-of-type(4)
		> div {
		-ms-transform: skewX(15deg); /* IE 9 */
		-webkit-transform: skewX(15deg); /* Safari */
		transform: skewX(15deg);
	}

	.testimonials
		.testimonials__container
		.testimonials__item:nth-of-type(2)
		.content,
	.testimonials
		.testimonials__container
		.testimonials__item:nth-of-type(4)
		.content {
		text-align: left;
		padding-inline-end: 1.5rem;
		padding-inline-start: 3.25rem;
	}

	.testimonials
		.testimonials__container
		.testimonials__item:nth-of-type(2)
		.avatar,
	.testimonials
		.testimonials__container
		.testimonials__item:nth-of-type(4)
		.avatar {
		right: unset;
		left: calc(var(--avatar-size) / -2);
	}

	.testimonials .testimonials__container .testimonials__item:nth-of-type(1) {
		grid-column: 1 / span 3;
		margin-top: 2.375rem;
	}

	.testimonials .testimonials__container .testimonials__item:nth-of-type(2) {
		grid-column: 4 / span 3;
	}

	.testimonials .testimonials__container .testimonials__item:nth-of-type(3) {
		grid-column: 2 / span 3;
		margin-top: 2.375rem;
	}

	.testimonials .testimonials__container .testimonials__item:nth-of-type(4) {
		grid-column: 5 / span 3;
	}

	/** SECTION - contact--lg */

	.contact {
		--overlap-margin: 5.625rem;
		--overlap-padding: 3.75rem;
		display: flex;
		flex-direction: row-reverse;
		margin-block-start: calc(var(--overlap-margin) * -1);
	}

	.contact .contact__content {
		flex-basis: 74%;
		padding-block-start: var(--overlap-padding);
		margin-block-start: var(--overlap-margin);
		margin-block-end: 3rem;
	}

	.contact .contact__content .heading,
	.contact .contact__content .text {
		text-align: left;
	}

	.contact .contact__content .heading {
		max-width: 26rem;
		text-align: left;
		margin-inline: unset;
	}

	.contact .contact__content .text {
		padding-inline-start: 2rem;
		margin-block-start: 0.75rem;
		margin-block-end: 1.375rem;
	}

	.contact .contact__content .contact__info {
		padding-inline-start: 2.75rem;
	}

	.contact .contact__content .contact__info .list {
		flex-direction: column;
		justify-content: unset;
		gap: 1.375rem;
	}

	/* contact form--lg */

	.contact .contact__container {
		flex-basis: 100%;
		-ms-transform: skewX(15deg); /* IE 9 */
		-webkit-transform: skewX(15deg); /* Safari */
		transform: skewX(15deg);
	}

	.contact .contact__container .contact__form {
		justify-content: center;
		padding-block-start: var(--overlap-padding);
		padding-block-end: 2rem;
		padding-inline-end: 4.688rem;
		margin-block-start: var(--overlap-margin);
		-ms-transform: skewX(-15deg); /* IE 9 */
		-webkit-transform: skewX(-15deg); /* Safari */
		transform: skewX(-15deg);
	}

	.contact .contact__container .contact__form > div {
		flex-direction: column;
	}

	.contact .contact__container .contact__form input,
	.contact .contact__container .contact__form textarea {
		line-height: 1.25rem;
	}

	.contact .contact__container .contact__form button[type='submit'] {
		position: relative;
		top: -0.25rem;
		margin-block-start: unset;
	}
}

@media screen and (min-width: 1280px) {
	/** SECTION - hero--xl */

	.hero .hero__content .title {
		font-size: 5.65rem;
		line-height: 5.75rem;
	}

	.hero .hero__content .title--secondary {
		font-size: 3.75rem;
		line-height: 3.5rem;
	}

	.hero .hero__content .text {
		font-size: 1.625rem;
		line-height: 1.8rem;
	}

	/** SECTION - about--xl */

	.about {
		padding-block: 12.25rem;
	}

	.about .about__content .title {
		font-size: 5rem;
		line-height: 5.25rem;
	}

	.about .about__content .title--secondary {
		font-size: 3rem;
	}

	.about .about__content .text {
		font-size: 1.625rem;
		line-height: 2rem;
	}

	/** SECTION - contact--xl */

	.contact {
		--overlap-margin: 5.625rem;
		--overlap-padding: 4.75rem;
	}

	.contact .contact__content {
		flex-basis: 51%;
		margin-block-end: 0;
	}

	.contact .contact__content .heading {
		max-width: unset;
	}

	/* contact form */

	.contact .contact__container {
		flex-basis: unset;
	}

	.contact .contact__container .contact__form {
		gap: 2.25rem;
		padding-block-end: 3.25rem;
	}

	.contact .contact__container .contact__form > div {
		flex-direction: row;
	}

	.contact .contact__container .contact__form input,
	.contact .contact__container .contact__form textarea {
		line-height: 2rem;
	}
}

@media screen and (min-width: 1440px) {
	/** SECTION - hero--2xl */

	.hero .hero__content .title {
		font-size: 7.188rem;
		line-height: 8.75rem;
	}

	.hero .hero__content .text {
		max-width: 75%;
		font-size: 1.625rem;
		line-height: 2rem;
		margin-block-end: 2.5rem;
	}

	.hero .hero__content .title--secondary {
		font-size: 4.75rem;
		line-height: 3rem;
	}
}
